<h2>Listing classrooms</h2>

<div class = "classrooms">
<table>
  <tr>
    <td>Name</td>
    <td>Maxpeople</td>
    <td>Course</td>
  </tr>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><%= link_to classroom.name, classroom %></td>
    <td><%= classroom.maxpeople %></td>
    <td><% classroom.courses.each do |course|%>
        <%= course.name %>, 
        <% end %>

      </td>  
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Classroom', new_classroom_path %>
