
h2{
  font-family: "PFDinTextCompProBold",Impact,Arial;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 auto;
  margin: 20px;
  text-align: center; 
}

.intro p{
  font-size: 20px;  
   font-family: "News706BT-RomanC", Georgia;
  width: 70%;
  margin: 0 auto; 
  text-align: justify;  
}

.sign_up{
  width: 22%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign_up img {
  margin-bottom: 30px;
}

.sign_up .field {
  border: red;
  font-size: 20px;
  font-family: "News706BT-RomanC",Georgia;
}

.field {
  margin: 0 auto;
}

.actions input {
margin-bottom: 3px;
padding: 1rem 2rem 1rem;
border: 0;
font: 800 1.125rem/normal "Circular",Helvetica,sans-serif;
text-align: center;
-webkit-font-smoothing: antialiased;
border-radius: 3px;
transition: all .15s ease-in-out;
color: #fff;
background-color: #fa4542;
box-shadow: 0 3px 0 0 #be0201;
text-decoration: none;
color: inherit;
}

span{
  color: #fa4542;
  font-family: "PFDinTextCompProBold",Impact,Arial;
  text-transform: uppercase;
  font-size: 4rem;
}

.classroombox{
  margin: 0 auto;
  width: 92%;
}


.classroom {
  vertical-align: top;
  box-shadow: 3px 3px 5px 6px #ccc;
  border: solid 1px; 
  width: 260px;
  height: 270px;
  border-radius: 15px;
  margin: 10px 20px 10px 0px ;
  background-color:#fa4542;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  transition: all 0.2s;
  font-size: 15px;
  font-family: 'Fauna One', serif;

} 

.classroom:hover {
  transform: scale(1.05);
}

.classroombox p a{
  text-decoration: none;
  color: black;
}


h3 a{  
  margin-bottom: 3px;  
  border: 0;
  font: 800 1.125rem/normal "Circular",Helvetica,sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  transition: all .15s ease-in-out;
  color: #fff;
  background-color: #00FF00;
  box-shadow: 0 3px 0 0 #00EE00;
  text-decoration: none;
  color: inherit 
}










