<h2>Editing user</h2>

<%= render 'form' %>


<%= link_to 'Show', @user %> |
<%= link_to 'Destroy', User, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %> 


